
.gallery{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 1.5em;
    float:left;
}
.gallery >h1 {
    margin-bottom: 1em;
}
.placeholder{
    width: 35%;
    border: brown 2px solid;
    height: 100vh;
}

.wrapper {
    display: flex;
}