.container {
    border: solid 1px black;
    height: 12rem;
    width:  6rem; 
    margin: 5px;
    padding: 5px;
    overflow-y: scroll;
}

img {
    height: 25%;
}

.name {
    font: 10px;
    text-align: left;
    line-height: 12px;
}