.asana_container {
    border: solid 1px brown;
    border-radius: 4px;
    height: max-content;
    width: 350px; 
    margin: 7px;
    padding: 10px;
    background-color: whitesmoke;
}
 
.info {
    margin: 7px;
    /* width: 350px; */
} 

.asana-img {
    height: 15vh;
    padding: 5px;
    float: right;
}
.sanskrit {
    font-style: italic;
}
.title {
    font: 12px;
    text-align: left;
    line-height: 14px;
     margin: 5px;
    font-weight: 400;
    
}
.level {
    font-weight: 400;
}
.descr {
    margin-left: 5px;
    font: 10px;
    padding: 5px;
    border-radius: 4px;
} 
[type="checkbox"]
{
    vertical-align:middle;
    margin-left: 0.5em;
    width: 2em;
    height:2em;
}
[type="checkbox"]:hover{
    background-color: burlywood;
}
.secondary-label {
    margin-left: 50px;  
    margin-right: 10px;
    margin-bottom: 15px;
}