.container {
    border: solid 1px black;
    border-radius: 4px;
    height: max-content;
    width:  30wh; 
    margin: 7px;
    padding: 7px;
    /* overflow-y: scroll; 
    overflow-x: scroll;  */
}
 
.info {
    margin: 7px;
} 

.asana-img {
    height: 15vh;
    padding: 5px;
    margin: 7px;
    float: right;
}
.sanskrit {
    font-style: italic;
}
.title {
    font: 12px;
    text-align: left;
    line-height: 14px;
     margin: 5px;
    font-weight: 500;
}
.level {
    font-weight: 400;
}
.descr {
    margin-left: 5px;
    font: 10px;
    
    

}