
#about_container{
    width: 70%;
    margin: 5vh auto;
    height: 80vh;
}

.title{
    color: brown;
    text-align: left;
}

#about_container > .about_card{
    background: rgb(235, 235, 235);
    font-size: 1.5em;
    padding: 1.5em;
    border-radius: 8px;
    margin-top: 1em;
}

.about_card p {
    padding-top: 2em;
}

.about_card button {
    width: 20%;
    min-width: 73px;
    height: 10%;
    font-size: 1em;
    padding: 8px;
    border-radius: 8px;
    margin-top: 1.5em;
}