/* .App {
  text-align: center;
} */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Tenor Sans", Helvetica, Arial, Lucida, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  background: url(../src/assets/light-pattern.png);
}
